.tex-controls {
    overflow: hidden;
    > div {
        float: right;
        margin-top: 10px;
        margin-right: 5px;
    }
    // Icon
    > div > div {
        margin: 5px 5px;
        padding: 0 5px;
        font-size: 24px;
        color: rgb(241,241,241);
        display: inline;
        &:hover {
            cursor: pointer;
        }
    }
    height: 50px;
    background: rgb(50, 54, 57);
    position: fixed;
    width: 100%;
    z-index: 5;
    transform: translateY(-100%);
    transition: all 1s ease, height 0.2s ease;

    height: 0;
    &.show {
        transform: none;
        height: 50px;
        transition: all 0.1s ease, height 0.5s ease;
    }
}
.tex-document {
    position: relative;
}
.tex-hover {
    z-index: 4;
    position: fixed;
    height: 25px;
    width: 100%;
}
