@font-face {
	font-family: 'Computer Modern Serif';
	src: url('/dependencies/computerModern/Serif/cmunrm.eot');
	src: url('/dependencies/computerModern/Serif/cmunrm.eot?#iefix') format('embedded-opentype'),
		 url('/dependencies/computerModern/Serif/cmunrm.woff') format('woff'),
		 url('/dependencies/computerModern/Serif/cmunrm.ttf') format('truetype'),
		 url('/dependencies/computerModern/Serif/cmunrm.svg#cmunrm') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Serif';
	src: url('/dependencies/computerModern/Serif/cmunbx.eot');
	src: url('/dependencies/computerModern/Serif/cmunbx.eot?#iefix') format('embedded-opentype'),
		 url('/dependencies/computerModern/Serif/cmunbx.woff') format('woff'),
		 url('/dependencies/computerModern/Serif/cmunbx.ttf') format('truetype'),
		 url('/dependencies/computerModern/Serif/cmunbx.svg#cmunbx') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Serif';
	src: url('/dependencies/computerModern/Serif/cmunti.eot');
	src: url('/dependencies/computerModern/Serif/cmunti.eot?#iefix') format('embedded-opentype'),
		 url('/dependencies/computerModern/Serif/cmunti.woff') format('woff'),
		 url('/dependencies/computerModern/Serif/cmunti.ttf') format('truetype'),
		 url('/dependencies/computerModern/Serif/cmunti.svg#cmunti') format('svg');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Computer Modern Serif';
	src: url('/dependencies/computerModern/Serif/cmunbi.eot');
	src: url('/dependencies/computerModern/Serif/cmunbi.eot?#iefix') format('embedded-opentype'),
		 url('/dependencies/computerModern/Serif/cmunbi.woff') format('woff'),
		 url('/dependencies/computerModern/Serif/cmunbi.ttf') format('truetype'),
		 url('/dependencies/computerModern/Serif/cmunbi.svg#cmunbi') format('svg');
	font-weight: bold;
	font-style: italic;
}
