body {
  width: $page-width;
  margin: 0 auto;
  
  font-family: 'Computer Modern Serif';
  color: black;
  font-size: $font-size;
  letter-spacing: -0.2pt;
}

.page {
  height: $page-height - (2 * $page-margin-top);
  width: $page-width - (2 * $page-margin);
  padding: $page-margin-top $page-margin;
  
  background-color: white;
}

.content {
  height: $page-height - (2 * $page-header-height) - (2 * $page-margin-top);
  overflow: hidden;
}

.header, .footer {
  overflow: hidden;
  height: $page-header-height;
  line-height: $page-header-height;
  text-align: center;
  > * {
    height: inherit;
  }
}
// left / center / right styles
.left {
  text-align: left;
  float: left;
}
.center {
  display: inline-block;
  margin: 0 auto;
}
.right {
  text-align: right;
  float: right;
}

// Default text styling
p {  
  text-align: justify;
  text-indent: 16pt;
  &[title] {
    text-indent: 0;
  }
}

