.tex-document {
    background-color: #525659;
    padding: 15px 10px;
    zoom: 100%; // default
    // -moz-transform: scale(1.0);
}
.tex-page {
    margin-top: 15px;
    margin-bottom: 15px;
    page-break-after: always;
}

// Print styling
@media print {
    .tex-document {
        background-color: #ffffff;
        padding: 0;
        margin: 0;
    }
    .tex-page {
        margin: 0;
    }
}
@media print {
    body *, tex-controls, tex-controls * {
        visibility: hidden;
    }
    .tex-document, .tex-document * {
        visibility: visible;
    }
    .tex-document {
        position: absolute;
        left: 0;
        top: 0;
        zoom: 100% !important;
    }
}

// Overwrite default browser print properties
@page {
    margin: 0;
}
