.toc {
  margin-bottom: 20px;
  
  > a > div {
    position: relative;
    overflow: hidden;
    margin-bottom: 7px;
  }
  .sec {
    margin-left: 0;
    margin-top: 20px;
    font-weight: bold;
    .left:after {
      content: '';
    }
  }
  .subsec {
    margin-left: 20px;
  }
  .subsubsec {
    margin-left: 40px;
  }
  .subsubsubsec {
    margin-left: 60px;
  }
  .right {
    position: absolute;
    right: 0;
    top: 0;
  }
  .left {
    padding-right: 15px;
  }
  .left:after {
    content: ' . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ';
    overflow: hidden;
    margin-right: 15px;
  }
  
  // Hyperlink
  a {
    color: black;
  }
}