.tex-toc {
    margin-bottom: 16pt;

    > a > div {
        position: relative;
        overflow: hidden;
        margin-bottom: 7px;
    }
    .sec {
        margin-left: 0;
        margin-top: 16pt;
        font-weight: bold;
        .right:before {
            content: '';
        }
    }
    .subsec {
        margin-left: 15pt;
    }
    .subsubsec {
        margin-left: 36pt;
    }
    .subsubsubsec {
        margin-left: 57pt;
    }
    .left {
        text-align: left;
        float: left;
        position: relative;
        background: white;
        z-index: 1;
        padding-right: 9pt;
        > span {
            margin-right: 9pt;
        }
    }
    .right {
        text-align: right;
        float: right;
        position: absolute;
        right: 0;
        top: 0;
        width: 2000pt;
    }
    .right:before {
        content: ' . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .';
        overflow: hidden;
        margin-right: 18pt;
    }

    // Hyperlink
    a {
        color: black;
    }
}
